/*
.container {width: 1000px;}
*/
.yd-Head{position: relative;}
.yd-search-wrap{width: 555px;}
.search-bottom .InputBox{width: 403px;}
.search-bottom a.yd-jgs{width: 50px;margin-top: 0px;line-height: 18px;text-align: center;}
.yd-search-wrap{margin-left: 41px;}
.erweima{position: absolute;right: 0;}
.search-bottom a.yd-jgs{margin-left: 5px;}
.ydwrap-fixed .yd-search-wrap,.ydwrap-fixed .search-bottom{width: 765px;}
.yd-content-midd .Banner{width: 540px;}
.newsContent .NewList{width: 290px;overflow: hidden;}
.NewList ul li{margin-bottom: 3px;}
.NewList ul li a,.NewList ul li.Blue a{max-width: 280px;}
.NewList ul li span{display: none;}
.NewList ul li.Blod {line-height: 34px;}
.newsContent .NewList ul li{line-height: 26px;}
.yd-guanggao .pull-right{display: none;}
.DrugsContent .midd{width: 540px;overflow: hidden;}
.DrugsContent .midd dl{margin:6px 20px;}
.companyList{width: 800px;}
.yd-huoban .yd-hb-bot li{margin: 0 4px;}
.yd-hb-bot li img{width: 80%;}
.yd-clr > li.group-item{width: 105px;}
.yd-clr > li.group-item.yd-azword{margin-left: 28px;margin-right: 0;}
.yd-clr > li.group-item.group-last{width: 90px;margin-right: 0;}
.footBannerIn img.Pic1{left:0;width: 367px;bottom:0;}
.footBannerIn .Word{margin-left:420px;}

.ydwrap-fixed .yd-search-wrap{width: 600px;}
.ydwrap-fixed .search-bottom .InputBox{width: 409px;}
.ydwrap-fixed .search-bottom .InputBox input{width: 306px;}
.ydwrap-fixed .search-bottom a.yd-jgs{width: auto;margin-top: 10px;}
.fixedtool{margin-left:500px;}

.homeNav ul.yd-Nav>li{
	width:100px;
}
.ydwrap-fixed .yd-search-wrap{
	width:540px;
	margin-left:20px;
}
.ydwrap-fixed .search-bottom a.yd-jgs{
	margin-left:13px;
}
/* .Topbanner,.Topbanner img,.homeNav,.yd-foot-outer{
	width:1005px;
} */


    

















